$color1:#A7BCBE;

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft JhengHei';
}

.app {
  display: flex;
  height: 100vh;
}

.leftMenu {
  width: 250px;
  height: 100%;
  background-color: $color1;
  .leftMenuBox {
    padding: 1rem;
  }
  .leftMenuBoxItem {
    text-decoration: none;
    color:#fff;
  }
  .leftMenuBoxItemTitle {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.header {
  height: 40px;
  background-color: #eee;
  .headerBox {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.content {
  width: calc(100vw - 250px);
  height: 100%;
}

.contentBox {
  padding: 1rem;
}

.login {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: $color1;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  .loginBox {
    padding: 1rem;
    position: relative;
    z-index: 99;
    background-color: #fff;
    border-radius: 1rem;
  }
  .loginBoxTitle {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }
}

.uploadImg {
  width: 100%;
  .uploadImgBox {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #eee;
  }
}